
/* BODY */

/* Remove all margin and padding */
* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    margin: auto;
}

body {
    padding: 0em 1.5em 0 1.5em;

}

/* BORDERS AND BACKGROUND */

/* All pages: adjust borders of buttons to make them look like
they are sketched */
button,
.text-with-box-border {
    border: solid .12em black;
    background: white;
    border-radius: 17em 1.5em 17em 1.5em/1.5em 17em 1.5em 17em;
}

/* All pages: with underlined text */
.text-with-underline {
    border-bottom: solid .12em black;
    border-radius: 1.5em 1.5em 17em 1.5em/1.5em 17em 1.5em 1.5em;
}

/* All pages: background of header */
div.heading-container,
.section-buttons {
    background-color: white;
}

/* Homepage: initial state of home button */
.selected,
/* All home and about buttons will have the same background color when hovered */
button.home-button:hover,
button.about-button:hover,
/* Homepage: link in popups */
a.grey-hover:hover,
/* All links with underline when hovered */
.text-with-underline:hover {
    background: #cecece;
}

/* Homepage: set background color of popups */
.food-pop {
    background: #27b500; 
}

.wood-pop {
    background: #DB874B;
}

.textile-pop {
    background: #2889C6;
}

/* Explore more link */
a.popup-link {
    background: white;
    border-radius: 6px;
}

/* Homepage: set popup boxes */
.popup-div {
    box-shadow: 0 6px 10px 0 rgba(157,157,157), 0 8px 22px 0 rgba(157,157,157);
    border-radius: 3px;
}

/* MARGINS and PADDING */

/* All pages: spacing between header and all divs below */
div.heading-container {
    margin-bottom: 1.5em;
}

/* All pages: Make the button rectangle and space them evenly */
button {
    padding: .1em 1.2em;
    margin: 1em .5em 0 .5em;
}

/* All pages: Any text inside para with box design */
span.text-with-box-border {
    padding: .2em .4em;
}

/* All pages: Adjust spacing atop the masthead name */
.heading-container {
    padding-top: 1em;
}

/* All pages: Adjust spacing between paragraphs */
p {
    margin-bottom: 1em;
}
p.no-margin-bottom {
    margin-bottom: 0;
}

/* Homepage: adjust spacing between the line and credits */
.project-info {
    padding-top: 2.4em;
}

/* Homepage: make a line dividing project intro text
and project members and date */

div.project-info-div:before {
    content: " ";
    background: black;
    height: 5px;
    width: 30%;
    position: absolute;
    margin-top: 1em;
}

/* Homepage: popups and inside of popups */
div.popup-div {
    padding: 1.2em;
}

a.popup-link {
    padding: .5em 2.5em;
}

span.popup-link {
    margin-top: 1em;
}

/* Homepage: popup titles */
div.popup-div > .main-title {
    margin-bottom: .5em;
}

/* Story pages: credits at the end of the story */
.credits-info {
    padding-top: 1.2em;
}

/* Homepage: div of homepage */

/*.left-side-container {
    top: 9em;
}
.right-side-container {
    top: 9em;
}*/

/* Story pages: create an empty div at the end of the story */
.credits-div:after {
    content: "";
    background: white;
    height: 12em;
    width: 60%;
    position: absolute;
}

/*Story pages: create empty div after the acknowledgment section */
#part-3 > div:last-child {
    padding-bottom: 5em;
}

/* Homepage: make a line at the back of buttons */
/*    content: " ";
    background: black;
    left: 20em;
    height: 3px;
    width: 54vw;
    top: 7em;
    z-index: -1;
    position: fixed;
}*/

/* Story pages: make a line at the bottom of the story before credits*/
div.credits-div:before {
    content: " ";
    background: black;
    height: 5px;
    width: 10%;
    position: absolute;
}

/* About page: create an empty div at the bottom of about page */
div#part-5-about:after {
    content: "";
    background: white;
    height: 15em;
    width: 60%;
    position: absolute;

}

/* Story pages: make a line at the back of buttons */
/*div.section-buttons:before{
    content: " ";
    background: black;
    left: 0;
    height: 3px;
    width: 100vw;
    top: 7em;
    z-index: -1;
    position: absolute;
}*/

/* About page: section titles */
h2.main-title {
    margin-bottom: 1.3rem;
}

/* Story pages: headings */
.sub-section .heading-title {
    margin-top: 2em;
}

/*About page: table*/

td {
    padding: .1em;
}


/* POSITION AND ALIGNMENT OF ELEMENTS */

/* All pages: position of project title and buttons*/
/* Fix the heading container at the top */
/*div.heading-container {
    position: fixed;
    top: 0;
    z-index: 100;
    text-align: center;
}*/
/* All pages: make buttons fixed at the top*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
}

/* Add some top padding to the page content to prevent sudden
quick movement
.sticky + .content {
  padding-top: 102px;
}*/

div.heading-container,
.section-buttons {
    z-index: 100;
}

/* Homepage: container for house images and project description text */
div.main-container-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Homepage: left-side container */
div.left-side-container {
    flex: 3;
    position: relative;
}

/* Homepage: right-side container */
div.right-side-container {
    flex: 1;
    position: relative;
    /* Make popups above the project-intro text */
    display: flex;
}

/* Homepage: create line break for know more link in popups */
span.popup-link {
    display: block;
}

/* Homepage: set position of popup boxes */
.popup-div {
    visibility: hidden;
    position: absolute;
}

/* Homepage: set position of house images */
img.house-images {
    position: absolute;
}

/* Homepage: house images */
.image-container .house-base {
    position: absolute;
    visibility: hidden;
}

.image-container .popupimg1 {
    position: absolute;
    visibility: hidden;
}

.image-container .popupimg2 {
    position: absolute;
    visibility: hidden;
}

.image-container .popupimg3 {
    position: absolute;
    visibility: hidden;
}

/* Homepage: show elements in the images container when button is clicked */
.image-container .show,
.image-container .show-base,
/* Homepage: show popups when button is clicked */
.popup .show,
.popup-text-container .show,
.show-text {
    visibility: visible;
}

/* Homepage: hide elements in the images container when button is clicked */
.image-container .hide,
/* Homepage: hide the project intro text when popups show*/
.project-intro .hide,
/* Homepage: hide popups when button is clicked */
.popup .hide,
.popup-text-container .hide {
    visibility: hidden;
}

/* Homepage: add fade in effect to popups and images) */
.image-container .show,
.image-container .show-base,
.popup .show,
.popup-text-container .show,
.project-intro .show,
.image-container .hide,
.project-intro .hide,
.popup .hide,
.popup-text-container .hide {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Homepage: remove any fade in effect to house base
so that change in opacity is not obvious */
.image-container .show-base {
    -webkit-animation: fadeIn 0s;
    animation: fadeIn 0s;
}

/* Fade in animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* SIZE (WIDTH AND HEIGHT) OF ELEMENTS */

/* All pages: width of the container of project title and buttons*/
div.heading-container {
    width: 100%;
}

/* Homepage: set width of house images */
img.house-images {
    width: 100%;
}

/* Homepage: set popup div in a way that it follows
the size of text inside it */
.popup-div {
    width: auto;
    height: auto;
}

/* FONT FAMILY, SIZE, WEIGHT, ALIGNMENT */

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Open Sans", sans-serif;
}

/* All pages: for all text in p and button elements */
p,
button,
tr { 
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    text-align: left;
    line-height: 1.8; 
}

button {
    line-height: 1.5;
}

.no-line-height {
    line-height: 1;
}

div.sub-section > p.no-margin-bottom,
.no-margin-bottom {
    margin-bottom: 0
}

/* All pages: for all text in h element */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    line-height: 1.3;
    text-align: left;
}

/* All pages: for headings */
.heading-title {
    font-size: 1.2rem;
}

.main-title {
    font-size: 1.4rem;
}

/* All pages: class for bold text */
.bold-text {
    font-weight: bolder;
}

.italicized-text {
    font-style: italic;
}

/* All pages: class for centred text */
.center-text {
    text-align: center;
}

/* All pages: for all underlined text in h element */
.underline {
    text-decoration: underline double black;
}

.heading-title {
    margin-bottom: .6em;
}

/* Homepage: masthead title */
h1.project-title {
    font-size: 2.1rem;
}

span.home-cursive {
    font-family: "Montez", cursive;
    font-size: 4rem;
    font-weight: bolder;
}

.home-color {
    color: #FF6B61;
}

/* Homepage: p element for intro and popups */
div.intro-text > p,
div.popup-div > p {
    font-size: .9rem;
}

/* Homepage: popup titles */
h2.heading-title > span.large-text {
    font-size: 1.8rem;
}

/* Homepage: project members */
p.credits {
    font-size: .8rem;
    line-height: 1.3;
}

p.caption {
    font-weight: lighter;
}

span.large-text {
    font-size: 6rem;
}

/* FONT COLOR */

/* All pages: default font color */
* {
    color: #4d4d4d;
}

/* All pages: all headings are black */
.black-font,
button {
    color: black;
}

.white-font {
    color: white;
}


/* LINKS */

/* All pages */
a,
a:link,
a:visited {
    text-decoration: none;
}

/* All pages */
button,
a {
    cursor: pointer;
}


/* SCROLL */
/* Class toggle buttons for story pages */
.active {
    background: #27b500;
}

/* Class toggle buttons for about page */
.active-pink {
    background: #FF6B61;
}

#container {
    position: relative;
    overflow: auto;
    padding: 0 1em 0 1em;
}

#graph, #sections {
    padding-top: 1em;
}

#sections {
    float:right;
    width: 35%;
    z-index: 80;
    position: relative;
}

#graph {
    width: 65%;
    z-index: 80;
    position: fixed;
}

.graph-scroll-fixed #graph {
    position: fixed;
}


/* Adjusting so that to make text at the same level of graph */
/*div.intro-div {
    margin-top: 9em;
}*/

.graph-scroll-below #graph {
  position: absolute;
  bottom:-20em;

}

#sections {
    margin-top: 5em;
}

#sections > div {
  opacity: .1;
} 

#sections div.graph-scroll-active {
  opacity: 1;
}

#sections > div:last-child {
  margin-bottom:10em;
}

/* etc on scroll */
.sub-section {
    margin-bottom: 10em;
}

p.story-paragraphs {
    margin-bottom: 1.5em;
}

#part-3 .sub-section,
#part-2 .sub-section {
    margin-bottom: .5em;
}

.smaller-story-image {
    width: 45%;
    height: 45%;
}

.larger-story-image {
    width: 50%;
    height: 50%;
}

.story-image-within-scroll {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/*#part-1 {
    width: 100%;
    height: 100%;
    
}*/

/* Centre paragraphs without graphs */
.one-column-text {
    width: 60%;
    margin: auto;
}

/* MAP ELEMENTS*/

#sliderContainer {
    position: absolute;
    top: 130px;
    left: 0;
}

/* Set slider properties */
#timeSlide {
    /* Override default CSS styles */
    -webkit-appearance: none; 
    appearance: none;
    /* Specify height */
    height: 1em; 
    background: #d3d3d3;
    /* Remove outline */
    outline: none;
    border-radius: 25em;
}

/* Set slider handle properties */
#timeSlide::-moz-range-thumb {
    width: 1.2em; 
    height: 1.6em;
    background: #4d4d4d;
    cursor: crosshair;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

#sliderContainer.connection-map-slider,
#sliderContainer.choropleth-map-slider {
    visibility: show;
}

.graph-texts {
    font-size: .8rem;
    fill: #4d4d4d;
}


div.tooltip-text-div {
    z-index: 100;
    left: 30em;
    top: 21.7em;
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: .7em;
    background-color: white;
    /*box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);*/
    border: #a3a3a3 solid .08em;
    border-radius: .5em;
    line-height: 1.5;
    color: black;
    font-size: .9rem;
}

div.tooltip-text-div > .country-name-tooltip {
    font-size: .9rem;
}

.tooltip-text-label {
    color: #7a7979;
}

#part-1-about,
#part-2-about,
#part-3-about,
#part-4-about,
#part-5-about,
#part-2,
#part-3 {
    padding-top: 5em;
}